<div class="container-people">
    <mat-nav-list>
        <strong>
            <a mat-list-item>
                PEOPLE
                <span class="spacer"></span> <!--spacer for space b/w text and icon-->
                <mat-icon matTooltip="New Chat">add_circle_outline</mat-icon>
            </a>
        </strong>
        <div class="list">
            <mat-list>
                <div *ngFor="let user of users">
                    <div *ngIf="messageService.sender.userId!==user.userId">
                        <mat-list-item (click)="setReceiver(user.userId)">
                            {{user.userName}}
                        </mat-list-item>
                        <br>
                    </div>
                </div>
            </mat-list>
        </div>
    </mat-nav-list>
</div>